/* @font-face {
  font-family: "Oswald";
  font-weight: 400;
  font-style: normal;
  font-display: swap;
  src: local("Oswald Regular"),
    url("https://nikios05.github.io/summary/fonts/oswald-regular.woff2") format("woff2"),
    url("https://nikios05.github.io/summary/fonts/oswald-regular.woff") format("woff");
}
  
@font-face {
  font-family: "Oswald";
  font-weight: 700;
  font-style: bold;
  font-display: swap;
  src: local("Oswald Bold"),
    url("https://nikios05.github.io/summary/fonts/oswald-bold.woff2") format("woff2"),
    url("https://nikios05.github.io/summary/fonts/oswald-bold.woff") format("woff");
} */

@import url('https://fonts.googleapis.com/css?family=Oswald:400,700&display=swap&subset=cyrillic');

@font-face {
    font-family: "Roboto";
    font-weight: 400;
    font-style: normal;
    font-display: swap;
    src: local("Roboto"),
      url("https://nikios05.github.io/summary/fonts/roboto-regular.woff2") format("woff2"),
      url("https://nikios05.github.io/summary/fonts/roboto-regular.woff") format("woff");
  }

.visually-hidden:not(:focus),
.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

input[name="togle"] {
    position: fixed;
}

.header {
    position: relative;
    margin-bottom: 65px;

    background-color: #d7a223;
}

.container {
    max-width: 1240px;
    padding: 0 30px;
    margin: 0 auto;
}

.main-nav {
    padding: 20px 30px;
    margin: 0 auto;
}

.site-list {
    display: flex;
    
    margin: 0;
    padding: 0;
    list-style: none;
}

.site-list__item {
    position: relative;
    margin: 0;
    padding: 0;
    overflow: hidden;
}

.site-list__item:first-child {
    margin-right: auto;
}

.site-list__item:nth-child(2) {
    margin-right: 50px;
}

.site-list__link {
    display: inline-block;
    vertical-align: middle;
    margin: 0;
    padding: 0;

    font-family: "Oswald", Arial, sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 36px;
    line-height: 36px;
    text-transform: uppercase;
    color: rgb(0, 0, 0);
    text-decoration: none;

    transition: 0.3s transform ease-in;
}


.site-list__link:hover {
    transform: translateY(-36px);
}

.site-list__link::before {
    position: absolute;
    top: 36px;
    left: 0;
}

.site-list__item:first-child .site-list__link::before {
    content: "Портфолио";
}

.site-list__item:nth-child(2) .site-list__link::before {
    content: "О себе";
}

.site-list__item:nth-child(3) .site-list__link::before {
    content: "Контакты";
}

.title {
    position: absolute;
    margin: 0 auto;
    top: 55%;
    left: 50vw;
    transform: translateX(-50%);
}

.title__name {
    margin: 0;
    padding: 0;

    font-family: "Oswald", Arial, sans-serif;
    font-style: bold;
    font-weight: 700;
    font-size: 100px;
    line-height: 90px;
    letter-spacing: 5px;
    text-transform: uppercase;
    color: rgba(0, 0, 0, 0.9);
}

.main-photo {
    margin: 0 auto;
    padding: 0;
    max-width: 690px
}

.main-photo__img {
    display: block;
    width: 100%;
    height: auto;
}

.title-section {
    margin: 0;
    padding: 0;

    font-family: "Oswald", Arial, sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 48px;
    line-height: 60px;
    text-transform: uppercase;
}

.portfolio {
    margin-bottom: 65px;
}

.slider__title {
    margin-bottom: 10px;
}

.slider__description {
    display: block;
    margin: 0;
    margin-bottom: 35px;
    padding: 0;
    min-height: 50px;

    font-family: "Roboto", Arial, sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 24px;
}

.slider__wrapper {
    display: flex;
    justify-content: space-between;
    margin-bottom: 35px;
}

.slider__container {
    position: relative;
    width: 600px;
    height: 600px;
}

.slider__img {
    display: block;
    margin: 0;
    padding: 0;
    border: 1px solid #a0a0a0;
    border-radius: 10px;
    overflow: hidden;
}

.slider__img--big {
    width: 600px;
    height: 600px;
    margin-right: 20px
}

.slider__img--small {
    position: absolute;
    width: 400px;
    height: 400px;
}

.slider__img--up {
    top: 0;
    left: 0;
}

.slider__img--down {
    bottom: 0;
    right: 0;
}

.slider--one,
.slider--two,
.slider--three {
    display: none;
}

.slider-switch {
    text-align: center;
    font-size: 0;
}

.slider-switch label {
    display: inline-block;
    vertical-align: middle;
    margin-right: 20px;
    width: 18px;
    height: 18px;
    border: 3px solid #a0a0a0;
    border-radius: 50%;
    transition: 0.2s background-color ease-in;
}

#slide-1:checked ~ .slider--one,
#slide-2:checked ~ .slider--two,
#slide-3:checked ~ .slider--three {
    display: block;
    animation: 0.5s appearance ease-in;
}

#slide-1:checked ~ .slider-switch label[for="slide-1"],
#slide-2:checked ~ .slider-switch label[for="slide-2"],
#slide-3:checked ~ .slider-switch label[for="slide-3"] {
    background-color: #a0a0a0;
}


.about-me {
    margin-bottom: 65px;
    background-color: #d7a223;
}

.about-me__wrapper {
    padding-top: 30px;
    padding-bottom: 60px;
}

.about-me__title {
    margin-bottom: 30px;
    color: rgb(255, 255, 255);
}

.about-me__description {
    margin: 0;
    padding: 0;

    font-family: "Roboto", Arial, sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 24px;
    line-height: 30px;
    color: rgb(255, 255, 255);
}

.ability {
    margin-bottom: 65px;
}

.ability__title {
    margin-bottom: 30px;
}

.ability__list {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin: 0;
    padding: 0;
    list-style: none;
}

.ability__item {
    margin-bottom: 20px;
}

.skill__title {
    position: relative;
    margin: 0;
    margin-bottom: 10px;
    padding: 0;
    padding-left: 40px;

    font-family: "Roboto", Arial, sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 24px;
    line-height: 30px;
}

.skill__title::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 32px;
    height: 36px;
    background-size: cover;
}

.skill__title--icon-html::before {
    background: url("img/HTML5.svg") no-repeat 50% 50%;
}

.skill__title--icon-css::before  {
    background: url("img/CSS3.svg") no-repeat 50% 50%;
}

.skill__title--icon-js::before  {
    background: url("img/JS.svg") no-repeat 50% 50%;
}

.skill__title--icon-gears::before  {
    background: url("img/gears.svg") no-repeat 50% 50%;
}

.skill__title--icon-soft::before  {
    background: url("img/soft-skills.svg") no-repeat 50% 50%;
}

.skill__list {
    margin: 0;
    margin-left: 45px;
    padding: 0;
    max-width: 500px;
    list-style: none;  
}

.skill__item {
    position: relative;
    margin: 0;
    padding: 0;
    padding-left: 25px;

    font-family: "Roboto", Arial, sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 24px;
    line-height: 30px;
}

.skill__item::before {
    content: "";
    position: absolute;
    top: 10px;
    left: 5px;
    width: 10px;
    height: 10px;
    background-color: #a0a0a0;
    border-radius: 50%;
}

.feedback {
    background-color: #d7a223;
}

.feedback-wrapper {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px 30px;
    box-sizing: border-box;
}

.feedback__desctription {
    margin: 0;
    padding: 0;
    width: 350px;

    font-family: "Roboto", Arial, sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 30px;
    color: rgb(255, 255, 255);
}

.feedback__mail {
    font-weight: 700;
    color: rgb(255, 255, 255);
    text-decoration: none;
}

.feedback__mail:hover {
    opacity: 0.5;
}

.social__list {
    display: flex;
    flex-wrap: wrap;
    margin: 0;
    padding: 0;
    list-style: none;
}

.social__item + .social__item {
    margin-left: 30px;
}

.social__link {
    display: inline-block;
    vertical-align: middle;
    width: 50px;
    height: 50px;
    text-align: center;
    background-repeat: no-repeat;
    background-position: 50% 50%;
    background-size: cover;
}

.social__link--vk {
    background-image: url("img/social-vk.svg");
}

.social__link--codepen {
    background: url("img/social-codepen.svg");
}

.social__link--git {
    background: url("img/social-github.svg");
}

.social__link--hh {
    display: block;
    margin: 0;
    padding: 0;

    font-family: "Roboto", Arial, sans-serif;
    font-style: bold;
    font-weight: 700;
    font-size: 40px;
    text-decoration: none;
    color: rgb(255, 255, 255);
}

.social__link:hover {
    opacity: 0.5;
}

@keyframes appearance {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}

@media (max-width: 1023px) {
    .slider__wrapper {
        justify-content: center;
    }
    
    .slider__container {
        display: none;
    }
}

@media (max-width: 643px) {
    
    .site-list {
        justify-content: space-between;
    }

    .site-list__item:first-child {
        margin-right: 0;
    }

    .site-list__item:nth-child(2) {
        margin-right: 0;
    }

    .site-list__link {
        font-size: 24px;
        line-height: 24px;
    }

    .title__name {
        font-size: 70px;
        line-height: 60px;
    }
    
    .title-section {
        font-size: 36px;
        line-height: 48px;
    }

    .slider__description {
        font-size: 14px;
        line-height: 18px;
    }

    .about-me__description {
        font-size: 18px;
        line-height: 24px;
    }

    .skill__item {
        font-size: 18px;
        line-height: 24px;
    }

    .feedback__desctription {
        max-width: 220px;
        font-size: 16px;
        line-height: 24px;
    }

    .social__link--hh {
        font-size: 30px;
    }

    .social__item {
        margin-left: 10px;
    }

    .social__item + .social__item {
        margin-left: 10px;
    }

    .social__link {
        width: 30px;
        height: 30px;
    }

}

@media (max-width: 454px) {
    .title__name {
        font-size: 50px;
        line-height: 45px;
    }

    .feedback-wrapper {
        padding: 10px 20px;
    }

    .feedback__desctription {
        max-width: 160px;
        font-size: 12px;
        line-height: 18px;
    }

    .site-list__link {
        font-size: 18px;
        line-height: 18px;
    }

    .social__link {
        width: 20px;
        height: 20px;
    }

    .social__link--hh {
        font-size: 20px;
    }

}